In [1]:
import pyspark

In [2]:
# @title Start a Spark Context
from pyspark import SparkConf, SparkContext
conf=SparkConf().setMaster("local").setAppName("CreatingRDD")
sc=SparkContext(conf=conf)

In [3]:
# @title 1. Parallelizing Data
x=sc.parallelize([("spark",1),("hadoop",4)])
y=sc.parallelize([("spark",2),("hadoop",5)])

In [4]:
x,y

(ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:289,
 ParallelCollectionRDD[1] at readRDDFromFile at PythonRDD.scala:289)

In [5]:
x.collect(),y.collect()

([('spark', 1), ('hadoop', 4)], [('spark', 2), ('hadoop', 5)])

In [7]:
# @title 2. Create New RDD from Existing RDD
nums=sc.parallelize([1,2,3,4,5])
from operator import add
adding=nums.reduce(add)
print("Adding all the elements -> %i"%(adding))

Adding all the elements -> 15

In [8]:
words=sc.parallelize(["scala","java","hadoop","spark","akka", "sparl vs hadoop", "pyspark", "pyspark and spark"])
words.collect()

['scala',
 'java',
 'hadoop',
 'spark',
 'akka',
 'sparl vs hadoop',
 'pyspark',
 'pyspark and spark']

In [9]:
words_filter=words.filter(lambda x: 'spark' in x)
filtered=words_filter.collect()
print("Fitered RDD -> %s"%(filtered))

Fitered RDD -> ['spark', 'pyspark', 'pyspark and spark']

In [10]:
# @title 3. From External Files
data=sc.textFile(r'people.txt')
data.top(2)

['Michael, 29', 'Justin, 19']

In [11]:
dataf=data.flatMap(lambda x:x.split(',')[::2])
print("filtered RDD -> %s"%(dataf))

filtered RDD -> PythonRDD[9] at RDD at PythonRDD.scala:53

In [12]:
dataf.take(2)

['Michael', 'Justin']